/*specifies to only display the content of the tabs that are active*/
.tab-content > [data-tab-content].active {
    display: block;
}

.tab-content > [data-tab-content] {
    display: none;
}

nav {
    background-color: brown;
}

/*styling the pages corresponding to each of the tabs in the navigation bar*/
#home {
    text-align: center;
    color: #E5BB89;
}
#home h1, #home h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
#about {
    color: #E5BB89;
}
#types {
    color: #E5BB89;
}
#identification {
    color: #E5BB89;
}
#weaknesses {
    color: #E5BB89;
}
#solutions {
    color: #E5BB89;
}
#examples {
    color: #E5BB89;
}
#citations {
    color: #E5BB89;
}

/*Non-active tabs will have one color*/
.tabs .tab {
    background-color: #D2B48C; /* Set background color to light gray */
    color: black; /* Text color for better contrast */
}

/*Meanwhile, active tabs will have another color*/
.tabs .tab.active {
    background-color: #8B4513;
    color: white;
}

/*Centers every image in the Examples tab*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

/*styling the background for the web application*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6F5D44;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: gray;
    text-decoration: none;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

.link {
    color: blue;
    font-weight: bold;
}

.para {
    margin-left: 80px;
    margin-right: 80px;
}

.big_para {
    margin-left: 40px;
    margin-right: 40px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}