<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
</head>
<body>
    <ul class="tabs">
        <li data-tab-target="#home" class="active tab">Home</li>
        <li data-tab-target="#about" class="tab">About</li>
        <li data-tab-target="#types" class="tab">Types</li>
        <li data-tab-target="#identification" class="tab">Identification</li>
        <li data-tab-target="#obstacles" class="tab">Obstacles</li>
        <li data-tab-target="#weaknesses" class="tab">Weaknesses</li>
        <li data-tab-target="#solutions" class="tab">Solutions</li>
    </ul>

    <!--Below code displays the content for the given tab I click on in the navigation bar-->
    <div class="tab-content">
        <div id="home" data-tab-content class="active">  ,<!-- an active class means it is the default tab -->
            <h1>Learn more about data poisoning and the ways it can be addressed!</h1>
            <h2>Explore the tabs to learn more!</h2>
        </div>
        <div id="about" data-tab-content>  ,<!-- an active class means it is the default tab -->
            <h1>What is Data Poisoning?</h1>
            <h3>Data poisoning is an attack where the data used to train any AI model inaccurately serves its purpose.</h3>
            <h1>Why is Data Poisoning an Issue?</h1>
        </div>
        <div id="types" data-tab-content>
            <h1>Types of Data Poisoning</h1>
        </div>
        <div id="identification" data-tab-content>
            <h1>How To Identify Data Poisoning in Large Language Models</h1>
        </div>
        <div id="obstacles" data-tab-content>
            <h1>Obstacles In The Way of Addressing Data Poisoning</h1>
        </div>
        <div id="weaknesses" data-tab-content>
            <h1>Weaknesses in Large Language Models That Make Them Susceptible to Data Poisoning</h1>
        </div>
        <div id="solutions" data-tab-content>
            <h1>Possible Solutions to Address Data Poisoning</h1>
        </div>
    </div>

    <script src="{{ url_for('static', filename='base.js') }}" defer></script>
    <!--references the javascript file that navigates to the appropriate pages once
    a given tab is clicked-->
    
</body>
</html>